.feedback {
  background: url(../img/png/camera-mobile.png) no-repeat;
  background-position: 85% 20%;
  background-attachment: fixed;
}

.feedback__heading {
  color: #fff;

  &::before {
    background-color: #fff;
  }
}

@include media-breakpoint-up(lg) {

  .feedback {
    background-image: url(../img/png/camera-desktop.png);
    background-position: 90% 15%;
  }
}
