.footer__nav-list {
  margin: 0;
  margin-left: -15px;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.footer__nav-item {
  padding-bottom: 5px;
}

.footer__nav-link,
.footer__contacts-link {
  text-decoration: underline;
  color: #fff;

  &:hover {
    text-decoration: none;
    color: $light;
  }
}

.footer__contacts-link--social {
  padding-right: 8px;
  text-decoration: none;
}


.footer__contacts-link-icon {
  fill: #fff;
  transition: $transition;

  &:hover {
    fill: $secondary;
  }
}

.footer__copy-creator {
  text-decoration: none;
  color: #fff;

  span {
    text-decoration: underline;
  }

  &:hover {
    color: $light;
    text-decoration: none;

    span {
      text-decoration: none;
    }
  }
}

@include media-breakpoint-up(md) {

  .footer__contacts {
    padding-left: 40px;
  }

  .footer__contacts-link {
    padding-bottom: 5px;
  }
}

@include media-breakpoint-up(lg) {

  .footer__contacts {
    padding-left: 100px;
  }

  .footer__copy-img {
    width: 60px;
    height: 53px;
  }
}
