.slide__info {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

.slide__heading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: $primary;
}

.slide__desc {
  color: $dark;
}

@include media-breakpoint-up(sm) {
  .slide__heading {
    font-size: 1.6rem;
  }

  .slide__desc {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(md) {

  .slide {
    height: 400px;
  }

  .slide__heading {
    font-size: 2rem;
  }

  .slide__desc {
    font-size: 1.6rem;
  }
}

@include media-breakpoint-up(lg) {

  .slide {
    min-height: 300px;
    height: 100vh;
  }

  .slide__heading {
    font-size: 2.6rem;
  }
}
